@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is an ASP.NET MVC 5 project where I create, read, update, and delete movies from a list.<br />
    It was built with Entity Framework code first.
    You can also filter and search the list. </p>
